$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  background: white;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  &__logo {
    font-family: "Shrikhand";
    font-size: 22px;
    margin-right: 49px;
    display: flex;
    align-items: center;
    img {
      max-width: 200px;
    }
   
  }
}


.menu__arrow {
  font-size: 22px;
  color: black;
  cursor: pointer;
  padding: 0px 15px;
}


.menu__img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.menu__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.menu__name {
  font-family: "Shrikhand";
  font-size: 29px;
}

.menu__heart {
  font-size: 24px;
  cursor: pointer;
}


.menu__category {
  padding: 20px;
}

.menu__category-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 3px solid $third-color;
  padding-bottom: 5px;
  width: fit-content;
}


.menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu__item {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    display: flex;
    flex-direction: column;
  }

  &-name {
    font-weight: bold;
    font-size: 16px;
  }

  &-description {
    font-size: 14px;
    color: gray;
  }

  &-price {
    font-weight: bold;
    font-size: 16px;
  }
}


.button__intro {
  background: linear-gradient($main-color, $second-color);
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 200px;
  margin: 30px auto;
  cursor: pointer;
  border: none;
}


.footer {
    background: rgba(53, 53, 53, 1);
    color: white;
    padding: 30px 20px;
  
    &__logo {
      font-family: "Shrikhand", cursive;
      font-size: 18px;
      margin-bottom: 20px;
    }
  
    &__menu {
      display: flex;
      flex-direction: column;
    }
  
    &__item {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    i {
      font-size: 14px;
    }
  }

