* {
  box-sizing: border-box;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hideLoader 0s forwards;
  animation-delay: 2s;
  z-index: 999;
}

.loader-circle {
  width: 60px;
  height: 60px;
  border: 6px solid #9356DC;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  to {
    display: none;
  }
}
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  padding-top: 15px;
  max-width: 215px;
}
.header img {
  width: 100%;
}

.intro {
  text-align: center;
  padding: 15px;
}
.intro__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
.intro__location-icon {
  margin-right: 20px;
  font-size: 25px;
  color: #3b3a39;
}
.intro__location-text {
  font-size: 20px;
  color: #3b3a39;
  font-weight: bolder;
}
.intro__content {
  background-color: #f2f2f2;
  padding: 30px;
}
.intro__title {
  font-size: 28px;
  margin-bottom: 10px;
}
.intro__description {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 300;
}
.intro__button {
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: "roboto";
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.intro .intro__button {
  transition: filter 0.3s ease, box-shadow 0.3s ease;
}
.intro .intro__button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

.fonctionnement {
  padding: 20px 10px;
}
.fonctionnement__title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fonctionnement .step {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 12px;
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: background-color 0.3s ease;
}
.fonctionnement .step__number {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 13px;
}
.fonctionnement .step__icon {
  font-size: 18px;
  color: gray;
  margin-right: 20px;
  margin-left: 15px;
  transition: color 0.3s ease;
}
.fonctionnement .step__text {
  font-size: 18px;
  font-weight: 500;
}
.fonctionnement .step:hover .step__icon {
  color: #9356DC;
}

.restaurants {
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 18px;
}
.restaurants__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.restaurants .restaurant {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.restaurants .restaurant .restaurant__new {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 2px;
}
.restaurants .restaurant__image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurant__info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.restaurants .restaurant__name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.restaurants .restaurant__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurant__location {
  font-size: 16px;
  margin: 0;
}
.restaurants .restaurant__heart {
  font-size: 23px;
  margin-top: -42px;
  margin-right: 12px;
  cursor: pointer;
}
.restaurants .restaurant__heart i {
  font-weight: 400;
}
.restaurants .restaurant__heart {
  position: relative;
}
.restaurants .restaurant__heart::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #9356DC;
  position: absolute;
  left: 0;
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.restaurants .restaurant__heart .fa-regular {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.restaurants .restaurant__heart:hover::after {
  opacity: 1;
  transform: scale(1);
}
.restaurants .restaurant__heart:hover .fa-regular {
  opacity: 0;
  transform: scale(0.1);
}

.footer {
  background: rgb(53, 53, 53);
  color: white;
  padding: 30px 20px;
}
.footer__logo {
  font-family: "Shrikhand";
  font-size: 15px;
  margin-bottom: 20px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__item {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer i {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .main {
    max-width: 1440px;
    margin: 0 auto;
  }
  .intro__content {
    padding: 50px 100px;
  }
  .intro__title {
    font-size: 36px;
  }
  .fonctionnement {
    max-width: 1100px;
  }
  .fonctionnement__title {
    padding-left: 0;
  }
  .fonctionnement__steps {
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-right: 30px;
  }
  .step {
    flex: 1;
    max-width: 330px;
  }
  .step__number {
    left: 0;
  }
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
  .restaurant {
    width: calc(50% - 50px);
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
    padding: 15px 20px 10px 20px;
  }
  .footer__logo {
    margin-bottom: 0;
    font-size: 12px;
    padding-left: 40px;
    margin-top: 20px;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
  }
  .footer__menu p:nth-child(1) {
    margin-right: 10px;
  }
  .footer__menu p:nth-child(2) {
    margin-right: 40px;
  }
  .footer__menu p:nth-child(3) {
    margin-right: 15px;
  }
}/*# sourceMappingURL=styles.css.map */