$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}


.header {
  display: flex;
  justify-content: center;
  
  &__logo {
    padding-top: 15px;
    max-width: 215px;
  }

  img {
    width: 100%;
  }
}


.intro {
  text-align: center;
  padding: 15px;
  
  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  }
  
  &__location-icon {
    margin-right: 20px;
    font-size: 25px;
    color: #3b3a39;
  }
  
  &__location-text {
    font-size: 20px;
    color: #3b3a39;
    font-weight: bolder;
  }

  &__content {
    background-color: #f2f2f2;
    padding: 30px;
  }
  
  &__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  &__description {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 200;
  }
  
  &__button {
    background: linear-gradient($main-color, $second-color);
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "roboto";
    border: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

}


.fonctionnement {
  padding: 20px 10px;

  &__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .step {
    display: flex;
    align-items: center;
    background: white;
    padding: 8px 12px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 0.3s ease;

    &__number {
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $main-color;
      color: white;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 13px;
    }

    &__icon {
      font-size: 18px;
      color: gray;
      margin-right: 20px;
      margin-left: 15px;
      transition: color 0.3s ease;
    }

    &__text {
      font-size: 18px;
      font-weight: 500;
    }

    &:hover .step__icon {
      color: $main-color;
    }
  }
}



.restaurants {
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 18px;

  &__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .restaurant {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .restaurant__new {
      position: absolute;
      top: 15px;
      right: 10px;
      background-color: rgba(153, 226, 208, 1);
      color: rgba(0, 135, 102, 1);
      font-size: 13px;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 2px;
    }    

    &__image {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    &__info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__name {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__location {
      font-size: 16px;
      margin: 0;
    }

    &__heart {
      font-size: 23px;
      margin-top: -42px;
      margin-right: 12px;
      cursor: pointer;

      i {
        font-weight: 400;
      }
    }
  }
}


.footer {
  background: rgba(53, 53, 53, 1);
  color: white;
  padding: 30px 20px;

  &__logo {
    font-family: "Shrikhand";
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  i {
    font-size: 14px;
  }
}


@media screen and (min-width: 1024px) {

  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  .fonctionnement__steps {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .step {
    flex: 1;
  }
  
  
}
