$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hideLoader 0s forwards;
  animation-delay: 2s;
  z-index: 999;
}

.loader-circle {
  width: 60px;
  height: 60px;
  border: 6px solid $main-color;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes hideLoader {
  to {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: center;

  &__logo {
    padding-top: 15px;
    max-width: 215px;
  }

  img {
    width: 100%;
  }
}

.intro {
  text-align: center;
  padding: 15px;

  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  }

  &__location-icon {
    margin-right: 20px;
    font-size: 25px;
    color: #3b3a39;
  }

  &__location-text {
    font-size: 20px;
    color: #3b3a39;
    font-weight: bolder;
  }

  &__content {
    background-color: #f2f2f2;
    padding: 30px;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  &__button {
    background: linear-gradient($main-color, $second-color);
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "roboto";
    border: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .intro__button {
    transition: filter 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
    }
  }
}

.fonctionnement {
  padding: 20px 10px;

  &__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .step {
    display: flex;
    align-items: center;
    background: white;
    padding: 8px 12px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 0.3s ease;

    &__number {
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $main-color;
      color: white;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 13px;
    }

    &__icon {
      font-size: 18px;
      color: gray;
      margin-right: 20px;
      margin-left: 15px;
      transition: color 0.3s ease;
    }

    &__text {
      font-size: 18px;
      font-weight: 500;
    }

    &:hover .step__icon {
      color: $main-color;
    }
  }
}

.restaurants {
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 18px;

  &__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .restaurant {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .restaurant__new {
      position: absolute;
      top: 15px;
      right: 10px;
      background-color: rgba(153, 226, 208, 1);
      color: rgba(0, 135, 102, 1);
      font-size: 13px;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 2px;
    }

    &__image {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    &__info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__name {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__location {
      font-size: 16px;
      margin: 0;
    }

    &__heart {
      font-size: 23px;
      margin-top: -42px;
      margin-right: 12px;
      cursor: pointer;

      i {
        font-weight: 400;
      }
    }
  }

  .restaurant__heart {
    position: relative;

    &::after {
      content: '\f004';
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      color: $main-color;
      position: absolute;
      left: 0;
      opacity: 0;
      transform: scale(0.1);
      transition: opacity 0.7s ease, transform 0.7s ease;
    }

    .fa-regular {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.7s ease, transform 0.7s ease;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: scale(1);
      }

      .fa-regular {
        opacity: 0;
        transform: scale(0.1);
      }
    }
  }
}

.footer {
  background: rgba(53, 53, 53, 1);
  color: white;
  padding: 30px 20px;

  &__logo {
    font-family: "Shrikhand";
    font-size: 15px;
    margin-bottom: 20px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  i {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    max-width: 1440px;
    margin: 0 auto;
  }

  .intro__content {
    padding: 50px 100px;
  }

  .intro__title {
    font-size: 36px;
  }

  .fonctionnement {
    max-width: 1100px;

    &__title {
      padding-left: 0;
    }
  }

  .fonctionnement__steps {
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    max-width: 1100px;
    margin: 0 auto;
  }  

  .step {
    flex: 1;
    max-width: 330px;
  }

  .step__number {
    left: 0;
  }  

  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }

  .restaurant {
    width: calc(50% - 50px);
  }

  .footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
  padding: 15px 20px 10px 20px;

  &__logo {
    margin-bottom: 0;
    font-size: 12px;
    padding-left: 40px;
    margin-top: 20px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    p:nth-child(1) { margin-right: 10px; }
    p:nth-child(2) { margin-right: 40px; }
    p:nth-child(3) { margin-right: 15px; }
  }
}
}


